.content {
  max-width: 830px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px 92px;
  display: flex;
}

.content__title {
  margin: 0 0 40px;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
}

.content__quote {
  margin: 40px 0;
  max-width: 732px;
}

.content__quote-text {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

.content__quote-author {
  display: flex;
  justify-content: end;
  height: 34px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  padding-right: 34px;
}

.content__text {
  font-size: 16px;
  margin: 40px 0 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  line-height: 163%;
}
