.header {
  text-align: center;
  padding: 34px 0 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  width: 254px;
  height: 70px;
}

.header__title {
  margin: 90px 0 32px;
  font-size: 96px;
  width: 720px;
  height: 200px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  line-height: 100px;
}

.header__subtitle {
  margin: 0 0 64px;
  font-size: 30px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  width: 720px;
  height: 72px;
}

.header__image {
  width: 100%;
  max-width: 984px;
  height: auto;
}

@media screen and (max-width: 1024px) {
  .header {
    font-family: "Inter", sans-serif;
    max-width: none;
    width: 100%;
  }

  .header__logo {
    width: 254px;
    height: 66px;
  }

  .header__title {
    padding-bottom: 25px;
    font-size: 75px;
    line-height: 79px;
    text-align: center;
    max-width: 530px;
  }

  .header__subtitle {
    width: 100%;
    max-width: 720px;
    height: 72px;
    font-size: 30px;
  }

  .header__image {
    width: 90%;
    max-width: 768px;
    height: 480px;
  }
}

@media screen and (max-width: 544px) {
  .header {
    font-family: "Inter", sans-serif;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
  }

  .header__logo {
    max-width: 188px;
    max-height: 52px;
  }

  .header__title {
    font-size: 40px;
    margin: 0;
    padding-top: 50px;
    line-height: 44px;
    margin-bottom: 16px;
    max-width: 228px;
  }

  .header__subtitle {
    font-size: 16px;
    line-height: 20px;
    max-width: 288px;
    max-height: 40px;
    margin-bottom: 40px;
  }

  .header__image {
    width: 90%;
    max-width: 320px;
    max-height: 200px;
  }
}
