.main__section {
  padding: 92px 148px;
}

.main__title {
  text-align: center;
  margin: 0 0 40px;
  font-size: 54px;
}

.main__quote {
  margin: 40px 0;
  text-align: center;
}

.main__quote-author {
  display: flex;
  justify-content: end;
}

.main__text {
  font-size: 16px;
  line-height: 1.6;
  margin: 40px 0 0;
}
