@import url("../vendor/fonts.css");
@import url("../vendor/normalize.css");
@import url("../blocks/footer.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/main.css");

body {
  width: 100%;
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .header {
    font-family: "Inter", sans-serif;
    max-width: none;
    width: 100%;
  }

  .header__logo {
    width: 254px;
    height: 66px;
  }

  .header__title {
    padding-bottom: 25px;
    font-size: 75px;
    line-height: 79px;
    text-align: center;
    width: 530px;
  }

  .header__subtitle {
    width: 720px;
    height: 72px;
    font-size: 30px;

  }

  .header__image {
    width: 768px;
    height: 480px;
  }

  .main {
    font-family: "Inter", sans-serif;
    position: static;
    width: 720px;
    height: 490px;
    margin: 0 auto;
    padding: 0;
  }

  .main__title {
font-size: 45px;
line-height: 49px;
font-weight: 900;
    }

    .main__quote-text {
font-size: 24px;
line-height: 34px;
font-weight: 400;
    }

    .main__quote-author {
font-size: 24px;
line-height: 34px;
font-weight: 400;
    }

    .main__text {
      font-size: 16px;
      line-height: 163%;
      font-weight: 400;
    }
    .footer {
font-family: "Inter", sans-serif;
      margin-top: 88px;

    }
    .footer__text {
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
}

  @media screen and (max-width: 544px) {
    .header {
      font-family: "Inter", sans-serif;
      width: 100%;
      max-width: 320px;
      margin: 0 auto;
    }

    .header__logo {
      width: 188px;
      height: 52px;
    }

    .header__title {
      font-size: 40px;
      margin: 0;
      padding-top: 50px;
      line-height: 44px;
      margin-bottom: 16px;
      max-width: 228px;
    }

    .header__subtitle {
      font-size: 16px;
      line-height: 20px;
      width: 288px;
      height: 40px;
      margin-bottom: 40px;

    }

    .header__image {
      width: 100%;
      max-width: 320px;
      height: 200px;
    }

    .main {
      font-family: "Inter", sans-serif;
      box-sizing: border-box;
      height: auto;
      align-items: center;
      width: 100%;
      max-width: 288px;
      margin: 0 auto;
      padding: 0;
    }

    .main__title {
      font-size: 32px;
      line-height: 35px;
      width: 288px;
      height: auto;
    }

    .main__quote-text {
      width: 288px;
      height: auto;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 0;
    }

    .main__quote-author {
      width: 288px;
      height: auto;
      font-size: 24px;
      font-weight: 34px;
      margin: 0;
    }
    .main__quote {
      width: 100%;
      height: auto;
      box-sizing: border-box;
    }

    .main__text {
      width: 288px;
      height: auto;
      font-size: 16px;
      line-height: 163%;
    }
    .footer {
      font-family: "Inter", sans-serif;
      margin: auto;
      margin-top: 64px;
      margin-bottom: 24px;
    }
    .footer__text {
      width: 166px;
      height: auto;
      font-size: 14px;
      line-height: 14px;
    }
  }