@import url("../vendor/fonts.css");
@import url("../blocks/footer.css");
@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/main.css");

@font-face {
  font-family: "inter";
  src: url(/vendor/fonts/Inter-VariableFont_opsz\,wght.ttf)
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "inter";
  src: url(/vendor/fonts/Inter-Italic-VariableFont_opsz\,wght.ttf)
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
}
